extends layout

block content

  h1 Optimove SDK Integration Site
  p.lead A boilerplate for Node.js web applications.
  hr
  .row
    .col-sm-6
      h2    Action - 1
      p    Here we Create an Action named Action-1
      p
        a.btn.btn-default(href='#', role='button', id="action1-btn") Event1
    .col-sm-6
      h2   Action - 2
      p    Here we Create an Action named Action-2
        p
        a.btn.btn-default(href='#', role='button', id="action2-btn") Event2
    .col-sm-6
      h2 Action - 3
        p Here we Create an Action named Action-3
      p
        a.btn.btn-default(href='#', role='button', id="action3-btn") Event3
    .col-sm-6
      h2 Action - 3
        p Here we Create an Action named Action-3
          p
        a.btn.btn-default(href='#', role='button', id="action4-btn") Event4


