extends layout

block content

  h1 Real-time SDK Integration Site
  p.lead WOW
  hr
  .row
    .col-sm-12
      h3   Email:
      input(type="text", id="userEmail")
      p
         a.btn.btn-default(href='#', role='button', id="setUserEmail-btn") SetUserEmail
    .col-sm-6
      h3 Action - 3
        p Here we Create an Action named Action-3
      p
        a.btn.btn-default(href='#', role='button', id="action3-btn") Event3
    .col-sm-6
      h3 Action - 3
        p Here we Create an Action named Action-3
          p
        a.btn.btn-default(href='#', role='button', id="action4-btn") Event4


